namex==0.1.0
async-timeout==5.0.1
Werkzeug==3.1.3
absl-py==2.3.1
antlr4-python3-runtime==4.9.3
annotated-types==0.7.0
nvidia-cuda-runtime-cu12==12.6.77
packaging==25.0
packaging==26.2
imageio==2.37.0
supervision==0.25.1
rich==14.1.0
ultralytics==8.2.99
deep-sort-realtime==1.3.2
ultralytics-thop==2.0.14
pydantic_core==2.33.2
sympy==1.14.0
nvidia-cufft-cu12==11.3.0.4
tifffile==2025.5.10
fonttools==4.58.0
charset-normalizer==3.4.2
decorator==5.3.1
wrapt==1.17.3
joblib==1.5.0
psutil==5.9.1
psutil==7.0.0
nvidia-cusparselt-cu12==0.6.3
nvidia-cublas-cu12==12.6.4.1
parso==0.8.7
typing_extensions==4.16.0
typing_extensions==4.13.2
multidict==6.6.4
imutils==0.5.4
tabulate==0.9.0
tensorboard==2.20.0
lazy_loader==0.4
attrs==25.3.0
beautifulsoup4==4.13.5
gdown==5.2.0
nvidia-cusolver-cu12==11.7.1.2
torch==2.7.0
aiohappyeyeballs==2.6.1
python-dateutil==2.9.0.post0
nest-asyncio2==1.7.2
comm==0.2.3
wandb==0.21.1
PySocks==1.7.1
portalocker==3.2.0
Pygments==2.19.2
Pygments==2.20.0
fsspec==2025.3.2
gast==0.6.0
wcwidth==0.8.2
libclang==18.1.1
fvcore==0.1.5.post20221221
jedi==0.20.0
cloudpickle==3.1.1
pip==25.1
idna==3.10
nvidia-cusparse-cu12==12.5.4.2
executing==2.2.1
nvidia-cuda-nvrtc-cu12==12.6.77
tensorboard-data-server==0.7.2
sentry-sdk==2.35.0
mypy_extensions==1.1.0
Jinja2==3.1.6
MarkupSafe==3.0.2
tzdata==2025.2
pyparsing==3.2.3
certifi==2026.7.22
kiwisolver==1.4.8
aiohttp==3.12.15
nvidia-nvtx-cu12==12.6.77
nvitop==1.5.0
soupsieve==2.8
opencv-contrib-python-headless==4.11.0.86
ptyprocess==0.7.0
ipykernel==7.3.0
iopath==0.1.9
scikit-learn==1.7.0
wheel==0.45.1
yacs==0.1.8
protobuf==6.32.0
pytz==2025.2
py-cpuinfo==9.0.0
urllib3==2.4.0
yarl==1.20.1
exceptiongroup==1.3.1
triton==3.3.0
pyzmq==27.1.0
six==1.17.0
ipython==8.37.0
optree==0.17.0
nvidia-cuda-cupti-cu12==12.6.80
mpmath==1.3.0
nvidia-nvjitlink-cu12==12.6.85
ml_dtypes==0.5.3
tornado==6.5.1
pathspec==0.12.1
gitdb==4.0.12
pycocotools==2.0.8
pillow==11.2.1
stack_data==0.6.3
defusedxml==0.7.1
PyYAML==6.0.2
hydra-core==1.3.2
pandas==2.2.3
typing-inspection==0.4.1
requests==2.32.3
matplotlib-inline==0.2.2
scipy==1.15.3
smmap==5.0.2
opencv-python==4.11.0.86
tqdm==4.67.1
google-pasta==0.2.0
astunparse==1.6.3
opt_einsum==3.4.0
nvidia-cufile-cu12==1.11.1.6
tomli==2.2.1
nvidia-nccl-cu12==2.26.2
grpcio==1.74.0
mdurl==0.1.2
filelock==3.18.0
debugpy==1.8.16
torch-geometric==2.6.1
frozenlist==1.7.0
threadpoolctl==3.6.0
jupyter_client==8.9.1
traitlets==5.15.1
contourpy==1.3.2
networkx==3.4.2
numpy==1.26.4
platformdirs==4.3.8
platformdirs==4.11.0
nvidia-cudnn-cu12==9.5.1.17
markdown-it-py==4.0.0
scikit-image==0.25.2
omegaconf==2.3.0
tensorflow==2.20.0
GitPython==3.1.45
termcolor==3.1.0
matplotlib==3.10.3
pydantic==2.11.7
prompt_toolkit==3.0.52
seaborn==0.13.2
propcache==0.3.2
asttokens==3.0.2
h5py==3.14.0
Markdown==3.8.2
setuptools==78.1.1
black==25.1.0
jupyter_core==5.9.1
cycler==0.12.1
pure_eval==0.2.3
flatbuffers==25.2.10
pickleshare==0.7.5
nvidia-curand-cu12==10.3.7.77
nvidia-ml-py==12.570.86
keras==3.11.3
pexpect==4.9.0
aiosignal==1.4.0
click==8.2.1
torchvision==0.22.0
